#display {
    border : 1px solid #000000;
    width : 240px;
    height: 50px;
    text-align : right;
    border-radius : 5px;
    font-size : 30px;
    padding: 5px;
    background-color: white;
}

img{
    width: 40px;
    height: 45px;
}

#operador{
    font-size: 25px;
    font-weight: bold;
    color: cornflowerblue;
}

#igual{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: cornflowerblue;
    border: 0px;
}


button {
    outline: none;
    border : 1px solid #efefef;
    font-size: 20px;
    width: 55px;
    height: 45px;
    margin-top: 8px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 15px;
}

button:hover{
    background-color:  rgb(255, 255, 255);
    border : 1px solid #efefef;
    font-size: 25px;
}

#esconder{
    color: white;
}

#borrador{
    color: rgb(255, 0, 0);
}

#calculadora {
    background-color: rgb(192, 184, 184);
    border : 1px solid #000000;
    border-radius : 5px;
    text-align : center;
    margin: 20px;
    padding : 8px;
    width:fit-content;
}