<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>SELECTSTUDENT</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('datos') }}" class="text"><font size="50px">DIEGO BAUTISTA</font></a></li>
        <li><a href="{{ url_for('id') }}" class="text"><font size="50px">STEVEN ESPEJO</font></a></li>
      </ul>
    </nav>
  </header>
  <div>
    <p>SELECCIONE AL ESTUDIANTE</p>
  </div>
</body>
</html>
