<!DOCTYPE html>
<html lang = "en">
   <head>
     <title>Hojas de Vida</title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
   </head>
   <body>
      <nav>
         <a href = "{{ url_for('show_all') }}">Mostrar Estudiantes</a>
         <a href = "{{ url_for('new') }}">Añadir Estudiante</a>
      </nav>

      <aside>
        {%- for message in get_flashed_messages() %}
           {{ message }}
        {%- endfor %}
      </aside>
      <section>
        <h3>ESTUDIANTES</h3>

        <table>
           <thead>
              <tr>
                 <th>Foto</th>
                 <th>Nombres</th>
                 <th>Apellidos</th>
                 <th>Codigo</th>
                 <th>Años</th>
                 <th>Ciudad</th>
                 <th>Correo</th>
                 <th>Celular</th>
                 <th>RH</th>
                 <th>Formación</th>
                 <th>Intereses</th>
                 <th>Ver</th>
                 <th colspan="2">Acciones</th>
              </tr>
           </thead>

           <tbody>
              {% for student in students %}
                 <tr>
                    <td><a href="{{ url_for('upload_file') }}"><center><img src="https://icon-library.com/images/image-icon-png/image-icon-png-6.jpg" width="30px"></center></a></td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.code }}</td>
                    <td>{{ student.years }}</td>
                    <td>{{ student.city }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.cel }}</td>
                    <td>{{ student.rh }}</td>
                    <td><a href="{{ url_for('academic') }}"><center><img src="https://i.pinimg.com/originals/8d/99/92/8d9992503a401b5e024e3f131792a4ed.png" width="30px"></center></a></td>
                    <td><a href="{{ url_for('hobbies') }}"><center><img src="https://www.nicepng.com/png/full/1011-10112146_red-dice-png-transparent-images-dado-clipart.png" width="30px"></center></a></td>
                    <td><a href="{{ url_for('curriculum') }}"><center><img src="https://img.pngio.com/ojo-de-vigilancia-coloreado-icono-de-trazo-descargar-png-svg-ojo-png-512_512.png" width="30px"></center></a></td>
                    <td>
                      <form method="POST" action="/update" style="display: inline">
                        <input type="hidden" value="{{student.name}}" name="oldname">
                        <input type="submit" value="Update">
                      </form>
                    </td>
                    <td>
                      <form method="POST" action="/delete" style="display: inline">
                        <input type="hidden" value="{{student.name}}" name="oldname">
                        <input type="submit" value="Delete">
                      </form>
                    </td>
                 </tr>
              {% endfor %}
           </tbody>
        </table>
    </section>
   </body>
</html>
