<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Cambiar Valor</h1>
    <form action="/cambiarValor" method="POST">
        <label for = "nombre">ID</label>
        <input type="text" name="id" value="{{ productos[0].id }}" /><br>

        <label for="valor">Valor</label>
        <input type="text" name="valor" placeholder="Valor" /><br>

        <input type="submit" value="Enviar">
    </form><br><br>
    <a id="boton" href="{{ url_for('index') }}">HOME</a>
</body>