table {
    width: 30%;
}

th, td {
    width: 25%;
    text-align: center;
    border: 1px solid #000;
    padding: 0.3em;
}

th {
    background: rgb(211, 208, 208);
}

#title{
    border-radius: 10px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 25px;
}