<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>TODOS</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('ver_citas') }}" class="text">CITAS</a></li>
          <li><a href="{{ url_for('ver_contactos') }}" class="text">CONTACTOS</a></li>
          <li><a href="{{ url_for('ver_usuarios') }}" class="text">USUARIOS</a></li>
          <li><a href="{{ url_for('ver_todos') }}" class="text">TODOS</a></li>
        </ul>
      </nav>
    </header>
    <table class="norm" border='1'>
        <tr>
            <th>Usuario</th>
            <th colspan='3'>Contacto</th>
            <th colspan='2'>Cita</th>
        </tr>
        {% for u in citas%}
        <tr>
            <td>{{ u[0] }}</td>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td>{{ u[3] }}</td>
            <td>{{ u[4] }}</td>
            <td>{{ u[5] }}</td>
        </tr>
    {% endfor %}
    </table>
  </body>
</html>
